<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.budbreak.pan.mapper.link.SecretMapper">
    <resultMap type="com.budbreak.pan.vo.link.SecretVO" id="secretResultMap">
          <id column="fd_id" property="id"/>
          <result column="fd_downloadNum" property="downloadNum"/>
          <result column="fd_expireDate" property="expireDate"/>
          <result column="fd_fileName" property="fileName"/>
          <result column="fd_localLink" property="localLink"/>
          <result column="fd_secret" property="secret"/>
          <result column="fd_secretLink" property="secretLink"/>
          <result column="fd_shareDate" property="shareDate"/>
          <result column="fd_userName" property="userName"/>
          <result column="fd_deleted" property="deleted"/>
          <result column="fd_createDate" property="createDate"/>
          <result column="fd_updateDate" property="updateDate"/>
          <result column="fd_reserved1" property="reserved1"/>
          <result column="fd_reserved2" property="reserved2"/>
    </resultMap>

    <!-- select Secret by id -->
    <select id="selectDetailById" resultMap="secretResultMap" parameterType="java.lang.Integer">
        SELECT
            *
        FROM link_secret
        WHERE
            fd_id = #{id}
            AND fd_deleted = false
    </select>

    <select id="selectOwnPage" resultMap="secretResultMap" parameterType="java.util.Map">
        SELECT
            *
        FROM link_secret
        <where>
            <if test="param.searchWord != null and param.searchWord !='' ">
                AND fd_id= #{param.searchWord}
            </if>
            AND fd_deleted = false
        </where>
        ORDER BY fd_createDate DESC
    </select>

</mapper>
